/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/

spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/db/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache

# rspec failure tracking
.rspec_status
